*{
    margin: 0;
}

.parent-container{
    border: 5px solid blue;
    width: 1000px;
}

.parent-container div{
    padding: 20px 0px;
    margin: 10px 0px;
    color: rgb(255, 0, 0);
    background: gold;
}

.px{
    width: 400px;
}

.rem{
    width: 25rem;
}

.em{
    width: 25em;
}

.vh{
    width: 44vh;
}

.vw{
    width: 42vw;
}

.percent{
    width: 40%;
}